<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Manager Register<a href="/managers/register">Register</a></p>
    <p>Manager Login <a href="/managers/login">Login</a></p>
    
    <p>client Register<a href="/clients/register">Register</a></p>
    <p>client Login <a href="/clients/login">Login</a></p>

</body>
</html>